/* General */
* { margin: 0; padding: 0; }

body { 
    color: #fff;
    position: relative;
    background-color: #000;
}

/* Smartphones */
#navegation {
    height: 170px;
    width: 100vw;
    position: absolute;
    z-index: 200;
    outline: #222 1px solid;   
}
    /* Modelo 3D */
        #foxito { 
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        height: 400px;
        width: 400px;
    }
    #page_title {
        position: absolute;
        z-index: 400;
        outline: #333 solid 1px;
        margin: 0;
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-top: 50px;
        box-sizing: border-box;
        font-size: 50px;
    }
#container {
    position: absolute;
    top: 170px;
    margin-inline: auto;
    height: auto;
    width: 100vw;
    z-index: 400;
    background-color: rgba(1,1,1,0.5);
}
    .fox_head_div{
        position: fixed;
        height: 800px;
        width: 600px;
        min-width: 400px;
        z-index: 1;
        margin-top: -100px;
        margin-inline: auto;
        background-color: #444;
    }
    .bubbles {
        position: absolute;
        height: auto;
        width: 100vw;
        display: flex;
        z-index: 300;
        justify-content: space-around;
    }
    .bubbles span {
        position: relative;
        z-index: -1;
        width: 20px;
        height: 20px;
        background-color: rgba(0, 255, 255, 1);
        margin: -10% 0%;
        border-radius: 50%;
        box-shadow: 0 0 0 0px #4fc3dc44,
        0 0 50px #4fc3dc, 
        0 0 50px #4fc3dc;
        animation: animate 20s linear infinite;
        animation-duration: calc(1000s / var(--i));
    }
    .bubbles span:nth-child(even) {
        background-color: rgba(255, 255, 255, 100);
        box-shadow: 0 0 0 0px #58581d,
        0 0 50px #fff, 
        0 0 50px #fff;
    }
    @keyframes animate {
        0% {
            transform: translateY(380vh) scale(0);
        }
        100% {
            transform: translateY(0vh) scale(1);
        }
    }
    #main_img {
        height: 200px;
        width: 200px;
        margin-top: 100px;
        margin-inline: calc(50% - 100px);
    }
    .section_ {
        width: 80%;
        max-width: 800px;
        margin-inline: auto;
        margin-block: 100px;
        min-height: 400px;
        border-radius: 25px;
        padding-inline: 10%;
        padding-top: 20px;
        padding-bottom: 100px;
        box-sizing: border-box;
        background-color: rgba(256,256, 256, 0.02);
        backdrop-filter: blur(10px);
        font-family:'Courier New', Courier, monospace
    }
        .title {
            display: flex;
            justify-content: center;
            font-size: 40px;
        }
        .title:first-child {
            font-size: 60px;
        }
        .section_content {
            margin-top: 100px;
            font-size: 30px;
            width: 100%;
            margin-bottom: 0px;
            display: flex;
            text-align:justify;
        }
        .section_content2 {
            margin-top: 20px;
            font-size: 30px;
            margin-bottom: 0px;
        }
        #contact_btn {
            height: 40px;
            width: 160px;
            border-radius: 30px;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 300;
            border: none;
            margin-top: 50px;
            margin-inline: calc(50% - 80px);
            
        }
        #contact_btn:active {
            background-color: #333;
            margin-top: 55px;
            margin-bottom: -5px;
        }
    #footer_container {
        height: 200px;
        width: 100vw;
        background-color: #fff;
        display: flex;
        justify-content: end;
        align-items: end;
    }
        #footer_text {
            margin: 20px;
            color: #333;
        }


/* Desktop */

@media (min-width: 720px){

    #container {
        background-color: rgba(1,1,1,0);
        backdrop-filter: blur(5px);
    }
        .fox_head_div{
            position: fixed;
            height: 800px;
            width: 600px;
            z-index: 1;
            margin-top: -1000px; /*Arreglar mañana */
            margin-left: calc(50vw - 300px);
            background-color: rgba(1,1,1,0);
        }
            #fox_div {
                margin-left: calc(50% - 256px);
                margin-top: 100px;
            }
        .section_ {
            width: 100%;
            max-width: 1800px;
            margin-inline: auto;
            margin-block: 100px;
            min-height: 400px;
            border-radius: 25px;
            padding-inline: 10%;
            padding-top: 20px;
            padding-bottom: 100px;
            box-sizing: border-box;
            background: none;
            backdrop-filter: blur(0px);
        }
        .section_:first-child {
            height: calc(100vh - 170px);
        }
            .title {
                text-align: center;
                font-size: 40px;
            }
            .section_content {
                margin-top: 50px;
                font-size: 30px;
            }
}
